[
  { "name": "Boulder Dash (1 disk)", "url": "boulderdash.adf" },
  { "name": "Lemmings — disk 1 of 2", "url": "lemmings/disk1.adf" },
  { "name": "Lemmings — disk 2 of 2", "url": "lemmings/disk2.adf" },
  "workbench13.adf"
]
